/* Div que irá conter os elementos */
.space {
    max-width: var(--max-width);
    width: 100%;
    min-height: 18rem;
max-height: max-content;
padding-block: 4.5rem 2.5rem;
display: grid;
justify-content: center;
}

/* Título da div */ 
.result {
    text-align: center;
    font: var(--label-md);
    color: var(--content-primary);
}

/* Sub-título */ 
.sub-title {
    font: var(--overline);
    color: var(--content-secondary);
    text-align: center;
}

/* Div pai dos números sorteados */ 
.div-sorted-numbers {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 2.5rem;
}

/* div que irá conter cada número sorteado */
.number-sorted {
    color: var(--content-brand);
    font: var(--number-mono);
}